default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FeatureContext
                - Behat\MinkExtension\Context\MinkContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: 'tests/bootstrap.php'
        DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~
        Behat\MinkExtension:
            browser_name: chrome
            base_url: http://nginx
            sessions:
                default:
                    chrome:
                        api_url: "http://chrome:9222"